h2 {
  text-align: center;
  font-weight: bold;
}

h3 {
  text-align: center;
}

#reserved {
  background-color: #99b3e6;
  width: 120px;
  min-height: 30px;
  margin: 0;
}

#available {
  background-color: #ffce99;
  width: 120px;
  min-height: 30px;
  margin: 0;
}

.available {
  background-color: #ffce99;
  width: 23%;
  margin: 2.5px auto;
  min-height: 100px;
  display: inline-block;
}

.reserved {
  background-color: #99b3e6;
  width: 23%;
  margin: 2.5px auto;
  min-height: 100px;
  display: inline-block;
}

fieldset {
  width: 380px;
  margin-top: 10px;
  margin-left: 32.5%;
  margin-bottom: 10px;
  background-color: #ffce99;
  line-height: 1.6em;
}
.title {
  padding-top: 10px;
  float: left;
  width: 110px;
  padding-left: 10px;
  clear: left;
  color: black;
  font-family: helvetica;
  font-size: 15px;
}
legend {
  color: black;
  font-family: helvetica;
  font-size: 20px;
}
input[type="text"] {
  width: 250px;
  padding-left: 20px;
  padding: 2px;
  outline: none;
}
input[type="text"]:focus,
input[type="text"]:hover {
  background-color: #99b3e6;
}
input[type="submit"] {
  width: 380px;
  height: 50px;
  margin-top: 1px;
  font-family: helvetica;
  background: #99b3e6;
}
input[type="submit"]:hover {
  background-color: #ffce99;
  text-align: center;
  cursor: pointer;
}
.submit {
  width: 100px;
  padding-bottom: 10px;
  text-align: center;
}

